name: test
on: pull_request
permissions:
  contents: read
  pull-requests: read
jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
      - run: tflint --init
      - run: tflint
