name: test
on: pull_request
permissions:
  contents: read
  pull-requests: read
jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
      - run: tflint --init
      - run: tflint
